

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>index</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Hello Spring Boot!!</h2>-->
<!--<a href="/member/save">회원가입</a>-->
<!--<a href="/member/login">로그인</a>-->
<!--<a href="/member/">회원목록</a>-->
<!--</body>-->
<!--</html>-->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
    <style>
    .error {
      color: red;
    }
  </style>
</head>

<body>
<div id="form-container">
    <div id="form-inner-container">
        <!-- Sign up form -->
        <div id="sign-in-container">
            <h3>Get Started</h3>
            <form id="login-form" onsubmit="return submitForm()">
                <div id="form-controls">
                    <button type="submit" id="submit-btn">Start</button>

                </div>

                <input type="checkbox" name="terms" id="terms">
                <label for="terms">I agree to the <a href="#" class="termsLink">Terms of service</a> and <a href="#"
                                                                                                            class="termsLink">Privacy Policy</a>.</label>
                <p id="error-message" class="error"></p>
            </form>
        </div>
    </div>
</div>

<script>
    function submitForm() {
      var termsCheckbox = document.getElementById("terms");

      var errorMessage = document.getElementById("error-message");
      errorMessage.textContent = "";

      if (!termsCheckbox.checked) {
        errorMessage.textContent = "Please agree to the Terms of Service and Privacy Policy.";
        return false;
      }

      // 유효성 검사 통과 시 main.html로 이동
      window.location.href = "/member/save";

      return false; // 폼 제출을 막기 위해 false 반환
    }
  </script>
</body>

</html>
